<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="/new">Add new message</a>
  <h1>
    <%= title %>
    <div class="container">
  </h1>

  <h4 class="welcome"> Welcome to <%= title %>              
   
  </h4>
  
  <% for(var i=0 ; i<messages.length ;i++){ %>
    <div class="messageBox">
      <div class="userBox">
        <%= messages[i].user %>
      </div>
      <div class="userDate">
        <%= messages[i].added %>
      </div>
      <div class="userMessage">
        <%= messages[i].text %>
      </div>
    </div>
    <% } %>
  </div>
</body>

</html>